<section>
   <span class="overview">
        <!-- TODO: ehh. Right now, you have to statically add new tables. The final version will certainly fix this.   -->
        <!-- TODO: They also don't do anything as buttons yet, they're kinda just here. -->
        <!-- I now kinda know how to do this, so should be here soon, hopefully. -->
        <button class="table">
            1
        </button>
        <!-- Ideally, the user would click here to enter a menu for making a new table. -->
        <button class="table">
            +
        </button>
    </span>
</section>