<div id="SectionAbout">
<h1>About</h1>
OrderMaster is a manager for restaurant orders, items, servers, and tables. It is a lightweight, but powerful assistant
for any restaurant staff. With a simple user interface and high levels of customization, it is exceptionally easy to
learn and integrate into your restaurant business.

    <h3>Pricing</h3>
    <p>1 billion dollars</p>
    <h3>FAQ</h3>
    <p>No one has asked questions</p>
    <h3>Other Info</h3>
    <p>Will be filled out with actual stuff later</p>
</div>
<!-- TODO: what he said -->