.orders
{
    margin-left: auto;
    margin-right: auto;
}
span {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: rgb(98, 128, 204);
  width: 85%;
  min-height: 20vh;
  height: auto;
  display: grid;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  font-weight: bold;
  align-self: center;
}
.detail
{
  background: rgb(98, 128, 204);   
}
th
{
    background-color: rgb(98, 128, 204);
}
td
{
    background-color: rgb(107, 141, 228);
}
  