h1 {
    font-size: 24pt;
}
h2 {
    font-size: 18pt;
}
h3 {
    font-size: 18pt;

}
#SectionAbout{
    padding: 10px;
    border-radius: 8px;
    
}
p {
    background-color: transparent;
    color: #000;
}