<div id="SectionAbout">
    <h1>About</h1>
    The Contact section of the OrderMaster application allows users to communicate with the restaurant, 
  enabling them to make inquiries, provide feedback, or request assistance with their orders. 
  This section ensures seamless communication between customers and the restaurant, enhancing customer satisfaction and trust.
    
        <h3>Pricing</h3>
        <p>1 billion dollars</p>
        <h3>FAQ</h3>
        <p>No one has asked questions</p>
        <h3>Other Info</h3>
        <p>Will be filled out with actual stuff later</p>
    </div>
    <!-- TODO: what he said -->
