<div id="Contact">
    <h1>Contact Information</h1>
    The Contact section of the OrderMaster application allows users to communicate with the restaurant, 
  enabling them to make inquiries, provide feedback, or request assistance with their orders. 
  This section ensures seamless communication between customers and the restaurant, enhancing customer satisfaction and trust.
    
        <!--<h3>Contact Information</h3>-->
        <!--<p>e</p>-->
        <h3>Email</h3>
        <p>OrderMaster&#64;gmail.com</p>
        <h3>Phone</h3>
        <p>+1 (234) 567-8910</p>
    </div>
    <!-- TODO: what he said -->
