  /* text box */
  textarea
  {
    border: solid 4px rgb(98, 128, 204);
    background: rgb(98, 128, 204);
    color:rgb(19, 4, 48);
    font-size: large;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
    width: 60vw;
    height: 40vh;
  }
  .submit-button
  {
    border:transparent;
    font-size: large;
    background-color: rgb(98, 128, 204);
    border-radius: 8px;
    margin: 8px; 
    min-height: 40px;
  }